@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
  themes: dark --default;
}

html {
  height: 100dvh;
  width: 100dvw;
  background-color: #1f1b1f;
  color: white;
  font-family: 'Pixelify Sans', sans-serif;
}

/*
Source - https://stackoverflow.com/a/14068216
Posted by Vargr, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-10, License - CC BY-SA 4.0
*/

img {
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021   */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

body {
  height: 100%;
  width: 100%;
}

@layer components {
  .shop-border {
    border-image-slice: 144 144 144 144;
    border-image-width: 60px 60px 60px 60px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat repeat;
    border-image-source: url('./assets/images/WoodPaneling.png');
    border-style: solid;
    border-style: var(--tw-border-style);
    border-width: 34px;

    ::-webkit-scrollbar {
      width: 20px;
    }

    ::-webkit-scrollbar-track {
      background-color: var(--color-shop-300);
    }

    ::-webkit-scrollbar-button {
      background-color: var(--color-shop-100);
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--color-shop-100);
    }
  }

  .shop-shelf {
    background-image: url('./assets/images/BareShelf.png');
  }

  .shop-wall {
    background-repeat: repeat;
    background-image: url('./assets/images/Wall.png');
  }

  .input {
    border: ring;
  }

  /*
  Source - https://stackoverflow.com/a/75705045
  Posted by Rory
  Retrieved 2026-02-15, License - CC BY-SA 4.0
  */

  .background-animate {
    background-size: 200%;
    -webkit-animation: AnimateBackgroud 1s ease infinite;
    -moz-animation: AnimateBackgroud 1s ease infinite;
    animation: AnimateBackgroud 1s ease infinite;
  }

  @keyframes AnimateBackgroud {
    0% {
      background-position: 0;
    }

    50% {
      background-position: 100%;
    }

    100% {
      background-position: 0;
    }
  }
}

@theme {
  --color-paper-1: #1f1b1f;
  --color-paper-2: #352935;
  --color-shop-100: #966a4a;
  --color-shop-200: #7a5343;
  --color-shop-300: #573d39;

  --color-caption-bg: rgba(0, 0, 0, 0.5);

  --shadow-pixel-md: 6px 6px rgb(0, 0, 0);

  --font-pixel: 'Pixelify Sans', sans-serif;

  --animate-radialspin: radialspin 2s linear infinite;

  @keyframes radialspin {
    0%,
    100% {
      background-position: top left;
      background-size: 200% 200%;
    }
    25% {
      background-position: top right;
    }
    50% {
      background-position: bottom right;
    }
    75% {
      background-position: bottom left;
    }
  }

  --animate-drip: slide-in-down 1000ms ease forwards;
  @keyframes slide-in-down {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}
